{% extends "layouts/base.html" %}
{% block content %}
  <div class="container">
    {% include "includes/search_form.html" %}
    <a href="{% url 'task:tag_create' %}" class="btn btn-success btn-lg ml-3">Create tag</a>
    <table class="table">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Update</td>
        <td>Delete</td>
        <td>Tasks</td>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td>{{ tag.id }}</td>
          <td>{{ tag }}</td>
          <td><a href="{% url 'task:tag_update' tag.pk %}" class="btn btn-info btn-sm">Update</a></td>
          <td><a href="{% url 'task:tag_delete' tag.pk %}" class="btn btn-danger btn-sm">Delete</a></td>
          <td>
            {% for task in tag.tasks.all %}
              <a href="{% url 'task:task_detail' task.id %}">{{ task }}</a><br>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}