{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2 class="text-center">{{ object|yesno:"Update,Create" }} task:</h2>
  <div class="container" >
    <form 
        action=""
        method="post" 
        class="border-radius-xl mr-lg-10 ml-lg-10" 
        style="background-color: rgba(220, 220, 220, 0.4);">
      {% csrf_token %}
      <div class="ml-5 form-inline" >
        {{ form|crispy }}
      </div>
      <input type="submit" value="Submit" class="btn btn-success m-3">
    </form>
  </div>
{% endblock %}
