{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h2 class="text-center">{{ object|yesno:"Update,Create" }} worker:</h2>
  <div class="container" >
    <form 
        action=""
        method="post" 
        class="text-center border-radius-xl" 
        style="background-color: rgba(220, 220, 220, 0.4);">
      {% csrf_token %}
      <div>
        {{ form }}
      </div>
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
{% endblock %}
